ORACLE_DB_HOST=<oracle-cloud-host>
ORACLE_DB_PORT=1521
ORACLE_DB_SERVICE=<oracle-cloud-service-name>
ORACLE_USERNAME=biblioteca
ORACLE_PASSWORD=<oracle-cloud-password>
ORACLE_APP_USER=biblioteca
ORACLE_APP_PASSWORD=<oracle-cloud-password>
ORACLE_JDBC_URL=jdbc:oracle:thin:@//<oracle-cloud-host>:1521/<oracle-cloud-service-name>
BFF_PORT=8088
LIBROS_PORT=8083
USUARIOS_FUNCTION_PORT=7071
PRESTAMOS_FUNCTION_PORT=7072
USUARIOS_FUNCTION_BASE_URL=http://localhost:7071/api
PRESTAMOS_FUNCTION_BASE_URL=http://localhost:7072/api
LIBROS_SERVICE_BASE_URL=http://localhost:8083/api
BFF_DOWNSTREAM_CONNECT_TIMEOUT=5s
BFF_DOWNSTREAM_READ_TIMEOUT=60s
LOG_LEVEL_ROOT=INFO
LOG_LEVEL_APP=INFO
SERVICEBUS_CONNECTION_STRING=<tu-cadena-de-conexion-de-azure-service-bus>
SERVICEBUS_QUEUE_NAME=prestamo-notificaciones

# Azure Event Grid — S8 Arquitectura Orientada a Eventos
# Configurar en App Settings de biblio-prestamos-kath2026-v2 en Azure
EVENTGRID_TOPIC_ENDPOINT=https://<tu-topic>.eastus2-1.eventgrid.azure.net/api/events
EVENTGRID_TOPIC_KEY=<tu-clave-del-topic>
EVENTGRID_TOPIC_NAME=biblioteca-eventos-topic
